p {
    color: red;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 600px;
    gap: 50px;
}

body {
    display: flex;
    justify-content: center;
}