.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#file-manager {
    flex: 0 0 250px; 
    background-color: #1e1e1e;
    padding: 10px;
    border-right: 1px solid #444;

    min-width: 150px;
    resize: horizontal;
}

#editor-container {
    flex: 1; 
    min-width: 200px;
}

#preview-container {
    flex: 1; 
    border-left: 1px solid #444;
    min-width: 200px;
}

#preview-frame {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
}

.resizer {
    background-color: #444;
    cursor: col-resize;
    flex: 0 0 5px;
    z-index: 10;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
}

.resizer:hover {
    background-color: #007acc;
}